.DS_Store

*.swp

rsync
rsync_ext
simplesaml*
test

.git/
.directory
.sass-cache


.buildpath
.project


application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/config.php


system/cache/

assets/css/page_specific/*
