.formular {width: 600px; font-size: 10pt}

.formular ul li {list-style: none; margin-bottom: 1em;}
.formular ul li label {display: block; font-weight: bold; font-size: 9pt}

.formular li.objection label {color: red}
.formular li.objection input,
.formular li.objection textarea,
.formular li.objection select
{
  border: 2px solid red
  
}

span.objection {
  display: block;
  color: red;
  font-weight: bold;
}

.formular li.praktikum ul {
 border: 1px solid black;
 padding: 0.5em 1em 0.5em 1em;
 margin-bottom: 1em;
}


textarea {display: block;}