@import 'summary.scss';

html {
  height: 100%;
}

#main
{
  width: 800px;
  max-width: 800px;
  margin: auto;
}


body {
  height: 100%;
  width: 100%;
}

input.ui-spinner-input {
}


div#progress {
  text-align: center;
  font-size: 0;

  margin-top: 40px;
  margin-bottom: 40px;
}


// STEP DECORATION

$progress_step_padding_sides: 22px;
$progress_height: 45px;
$triangle_width: 10px;
$no_triangle_correction_factor: 1.3;


@mixin progress-step-decoration($color) {
  background-color: $color;

  // the triangle
  &:after {
    content:"";
    z-index: 100;
    position:absolute;
    margin-left: $progress_step_padding_sides - 1px;
    top:0;
    width: 0;
    height: 0;
    border-top: $progress_height/2 solid transparent;
    border-left: $triangle_width solid $color;
    border-bottom: $progress_height/2 solid transparent;
  }
}



// STEPS

$color_active: #007a90;
$color_completed: #91bac6;
$color_next: #ff7858;
$color-default: #DFDFDF;

div#progress span {
  position: relative;
  display: inline-block;

  padding-left: $triangle_width + $progress_step_padding_sides;
  padding-right: $progress_step_padding_sides;

  height: $progress_height;
  line-height: $progress_height;

  font-family: 'Roboto Condensed';
  font-size: 12pt;
  background-color: $color_default;


  &, a {
    color: white;
  }

  &.completed  {
    @include progress-step-decoration($color_completed);
  }

  &.summary {
    @include progress-step-decoration($color_default);
  }

  &.next {
    @include progress-step-decoration($color_next);
  }

  &.active {
    @include progress-step-decoration($color_active);
    font-weight: bold;
  }



  &:first-child {
    padding-left: $no_triangle_correction_factor*$progress_step_padding_sides;
  }
}



