/**
 * Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine work of
 * Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 * and Blueprint http://www.blueprintcss.org/
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

body {
  background: #fff; }

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

a:focus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }
a:hover, a:active {
  outline: 0; }
a img {
  border: 0; }

/**
 * Typography
 */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.svg#OpenSans") format("svg");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans") format("svg");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic.svg#OpenSans") format("svg");
  font-style: italic;
  font-weight: bold; }
body, button, input, select, textarea {
  color: #393944;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6; }

body {
  background-color: #f0f0f3; }

/*
#content {
  background-color: #FFF;
  padding-left: $padding-content-lr;
  padding-right: $padding-content-lr;
  padding-bottom: $padding-content-tb;
  padding-top: $padding-content-tb;
}
*/
h1, h2, h3, h4, h5, h6 {
  color: #636071;
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

h1 {
  font-size: 3.1rem;
  line-height: 1.1613;
  margin-bottom: 1.1613em; }

h2 {
  font-size: 2.6rem;
  line-height: 1.3846;
  margin-bottom: 0.9231em;
  margin-top: 1.8462em; }

h3 {
  font-size: 2.2rem;
  line-height: 1.3636;
  margin-bottom: 1.0909em;
  margin-top: 2.1818em; }

h4 {
  font-size: 1.8rem;
  line-height: 1.3333;
  margin-bottom: 1.3333em;
  margin-top: 2.6667em; }

h5, h6 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1.6em;
  margin-top: 3.2em; }

p {
  margin-bottom: 1.2em; }

a {
  color: #00458c; }
  a:hover, a:focus {
    color: #707070; }

b, strong {
  font-weight: 700; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  border-left: 4px solid #005CAE;
  color: #707070;
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.6667;
  margin-bottom: 1.6667em;
  padding-left: 0.7778em; }
  blockquote p {
    margin-bottom: 1.6667em; }
  blockquote > p:last-child {
    margin-bottom: 0; }
  blockquote cite, blockquote small {
    color: #707070;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: "OpenSans", sans-serif;
    line-height: 1.6; }
  blockquote em, blockquote i, blockquote cite {
    font-style: normal; }
  blockquote strong, blockquote b {
    font-weight: 400; }

address {
  font-style: italic;
  margin: 0 0 1.6em; }

code, kbd, tt, var, samp {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background-color: #e7e7eb;
  border: 1px solid #dedee3;
  color: #4B4A56;
  line-height: 1.2;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 0.8em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help; }

mark, ins {
  background-color: #fff9c0;
  text-decoration: none; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/**
 * Elements
 */
hr {
  /*background-color: #eaeaea;
  background-color: rgba(51, 51, 51, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.6em;*/ }

ul, ol {
  margin: 0 0 1.6em 1.3333em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0; }

dl {
  margin-bottom: 1.6em; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 1.6em; }

table, th, td {
  border: 1px solid #C3C3CB; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

th {
  border-width: 0 1px 1px 0; }
  th a {
    color: #393944; }

td {
  border-width: 0 1px 1px 0; }

th, td {
  padding: 0.4em; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

figure {
  margin: 0; }

del {
  opacity: 0.8; }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder, :-moz-placeholder {
  color: #707070;
  font-family: "OpenSans", sans-serif; }

::-moz-placeholder {
  color: #707070;
  font-family: "OpenSans", sans-serif;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */ }

:-ms-input-placeholder {
  color: #707070;
  font-family: "OpenSans", sans-serif; }

/**
 * Forms
 */
div#progress {
  font-size: 0px;
  border-radius: 4px;
  background-color: #707070;
  margin-bottom: 40px;
  margin-top: 20px; }
  div#progress span:first-child {
    border-radius: 4px;
    padding-left: 28.6px; }
  div#progress a {
    text-decoration: none; }
  div#progress span {
    background-color: #707070;
    display: inline-block;
    font-size: 12pt;
    height: 45px;
    line-height: 45px;
    padding-left: 32px;
    padding-right: 22px;
    position: relative;
    color: #fff; }
    div#progress span a {
      color: #fff; }
    div#progress span.not-completed {
      margin-right: -1px; }
    div#progress span.not-completed.active {
      margin-right: 0; }
  div#progress span.completed {
    background-color: #707070; }
    div#progress span.completed::after {
      border-bottom: 22.5px solid transparent;
      border-left: 10px solid #707070;
      border-top: 22.5px solid transparent;
      content: "";
      height: 0;
      margin-left: 21px;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 100; }
  div#progress span.active {
    background-color: #005CAE;
    color: #fff; }
    div#progress span.active a {
      color: #fff; }
    div#progress span.active::after {
      border-bottom: 22.5px solid transparent;
      border-left: 10px solid #005CAE;
      border-top: 22.5px solid transparent;
      content: "";
      height: 0;
      margin-left: 21px;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 100; }

.form-required {
  color: #D94000;
  margin-left: 3px; }

.panel-default {
  border-color: #C3C3CB; }

.panel-default > .panel-heading {
  background-color: #e7e7eb;
  border-color: #C3C3CB;
  color: #393944; }

.btn-info {
  background-color: #005CAE;
  border-color: #00458C;
  color: #fff; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    background-color: #00458C; }

.form-horizontal select {
  margin-top: 7px; }

/*.panel {
	margin-bottom: 30px;
}
.panel-heading {
    @extend h2;
	margin: 0 0 10px;
}
.form-group {
	margin: 10px 0;
}*/
/*button, input, textarea {
    @include transparent($page,.9);
    border-radius: 0;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}
select {
	line-height: 1.5;
    margin: 0;
    vertical-align: baseline;
}

button {
    line-height: normal;
}

input {
    line-height: normal;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    /* Removing the inner shadow on iOS inputs */
/*    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: $medium-grey;
}

textarea {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    /* Removing the inner shadow on iOS inputs */
/*    border: 1px solid $border;
    color: $medium-grey;
}
label {
	display: block;
	margin: 5px 0;
}
input:focus, textarea:focus {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: #333;
}

input:focus, select:focus {
    outline: 2px solid #c1c1c1;
    outline: 2px solid rgba(51, 51, 51, 0.3);
}

button[disabled], input[disabled], select[disabled], textarea[disabled] {
    cursor: default;
    opacity: .5;
}

button {
    -webkit-appearance: button;
    background-color: $dark-grey;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.7917em 1.5em;
    text-transform: uppercase;
}

input {
    &[type="button"], &[type="reset"], &[type="submit"] {
        -webkit-appearance: button;
        background-color: $dark-grey;
        border: 0;
        color: $page;
        cursor: pointer;
        font-family: "OpenSans", sans-serif;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 0.7917em 1.5em;
        text-transform: uppercase;
        margin: 10px;
    }
}

button:hover {
    background-color: $medium-grey;
    outline: 0;
}

input {
    &[type="button"]:hover, &[type="reset"]:hover, &[type="submit"]:hover {
        background-color: $medium-grey;
        outline: 0;
    }
}

button:focus {
    background-color: $light-grey;
    outline: 0;
}

input {
    &[type="button"]:focus, &[type="reset"]:focus, &[type="submit"]:focus {
        background-color: $light-grey;
        outline: 0;
    }
    &[type="search"] {
        -webkit-appearance: textfield;
        &::-webkit-search-cancel-button, &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &[type="text"],
	&[type="email"],
	&[type="url"],
	&[type="password"],
	&[type="search"] {
        padding: 0.375em;
		width: 50%;
    }
}

textarea {
    padding: 0.375em;
	width: 50%;
    max-width: 100%;
    overflow: auto;
    vertical-align: top;
}

input {
    &[type="text"]:focus,
	&[type="email"]:focus,
	&[type="url"]:focus,
	&[type="password"]:focus,
	&[type="search"]:focus {
        outline: 0;
    }
}

textarea:focus {
    outline: 0;
}

input {
    &[type="checkbox"], &[type="radio"] {
        padding: 0;
    }
}*/
/**
 * Accessibility
 */
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font: bold 14px/normal "OpenSans", sans-serif;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em; }

.logged-in .site .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  font: bold 14px/normal "Open Sans", sans-serif; }

.site .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000; }

/**
 * Alignments
 */
.alignleft {
  display: inline;
  float: left;
  clear: both; }

.alignright {
  display: inline;
  float: right;
  clear: both; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both; }

.alignnone {
  clear: both; }

blockquote.alignleft, .wp-caption.alignleft, img.alignleft {
  margin: 0.4em 1.6em 1.6em 0; }

blockquote.alignright, .wp-caption.alignright, img.alignright {
  margin: 0.4em 0 1.6em 1.6em; }

blockquote.aligncenter, .wp-caption.aligncenter, img.aligncenter {
  clear: both;
  margin-top: 0.4em;
  margin-bottom: 1.6em; }

.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
  margin-bottom: 1.2em; }

/**
 * Clearings
 */
.clear:before, .clear:after {
  content: "";
  display: table; }

.site:before, .site:after {
  content: "";
  display: table; }

.site-content:before, .site-content:after {
  content: "";
  display: table; }

.clear:after, .site:after, .entry-content:after, .comment-content:after, .site-content:after, .nav-links:after, .comment-navigation:after, .social-navigation ul:after, .textwidget:after {
  clear: both; }

.site {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px #ababab;
  -moz-box-shadow: 0px 5px 10px #ababab;
  box-shadow: 0px 5px 10px #ababab; }

/**
 * Header
 */
.site-header {
  background-color: #fff;
  background: url("../../assets/img/header.png") #fff no-repeat top center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding: 10px;
  position: relative;
  height: 200px; }

.site-branding {
  min-height: 2em;
  padding: 10px;
  float: left;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FFFFFF,endColorstr=#E6FFFFFF);
  zoom: 1; }

.site-logo {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
  max-width: 50%; }

.header-text {
  clear: both; }
  .header-text .site-title a {
    text-decoration: none;
    color: #00458C; }
  .header-text .site-description a {
    color: #393944; }

.site-title {
  font-family: "OpenSans", sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  clear: none;
  margin: 5px 0 10px; }

.site-description {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
  opacity: 0.9; }

/*
 * Content
 */
.site-content {
  padding: 20px 10px;
  background-color: #fff; }

/**
 * Footer
 */
.site-footer {
  padding: 20px;
  background-color: #4B4A56;
  color: #fff; }
  .site-footer h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0 0 0.6em;
    text-transform: uppercase; }
  .site-footer a {
    color: #dedee3; }
    .site-footer a:hover, .site-footer a:focus, .site-footer a:active {
      color: #fff; }
  .site-footer .links {
    margin-left: 2em; }
  .site-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

aside#footer-logo-container {
  float: right; }

.footer-logo {
  display: block;
  float: right;
  margin: 0 20px 20px 0; }

.tech-navigation {
  background: #e7e7eb;
  font-size: 1.2rem;
  padding: 10px; }
  .tech-navigation ul {
    margin: 0;
    list-style-type: none; }
  .tech-navigation li {
    float: left; }
    .tech-navigation li .logout {
      background-color: red;
      font-weight: bold; }
    .tech-navigation li a {
      color: #00458c;
      display: block;
      padding: 5px 10px;
      white-space: nowrap;
      text-decoration: none; }
      .tech-navigation li a:hover, .tech-navigation li a:focus, .tech-navigation li a:active {
        background: #dedee3;
        text-decoration: underline; }

/*
 * Breadcrumbs
*/
#breadcrumbs {
  padding: 20px 10px 0;
  font-size: .8em; }
  #breadcrumbs h2 {
    float: left;
    margin: 0 3px 0 0;
    font-size: 1em;
    font-weight: 400;
    color: #393944; }
  #breadcrumbs ul, #breadcrumbs li {
    float: left;
    display: inline;
    margin: 0; }
  #breadcrumbs span.divider {
    display: block;
    float: left;
    padding: 0 3px; }

div.action {
  font-size: 0.9em;
  background-color: #85C8FF;
  padding: 1.7em 3.4em 1.7em 3.4em;
  margin-bottom: 2em; }
  div.action a, div.action {
    color: #24476D; }
  div.action h1 {
    font-size: 18pt;
    margin-bottom: 1em; }
    div.action h1:last-child {
      margin-bottom: 0; }
  div.action .action-icon {
    font-size: 1.5em;
    margin-top: -2pt;
    float: left;
    color: #3d79ba;
    margin-right: 0.75em; }
  div.action.action-inactive {
    pointer-events: none;
    cursor: default;
    background-color: #d2eaff; }
    div.action.action-inactive, div.action.action-inactive a {
      color: #6093ca !important; }
    div.action.action-inactive .action-icon {
      color: #86add7; }

div.step-navigation {
  text-align: center;
  padding-top: 1.5em; }

.info-text {
  float: right;
  width: 50%;
  margin: 0 -1px 0 -1px;
  background-color: #EFEFF3;
  padding: 1em 2em 1em 2em;
  border: 1px solid #dedee3;
  border-radius: 2px;
  border-right: none; }

div.upload {
  margin-bottom: 2em; }
  div.upload div.existing-file, div.upload div.new-file {
    overflow: visible;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: #dedee3; }
  div.upload div.add-file-container {
    clear: both; }
  div.upload .remove-file, div.upload .remove-upload {
    height: 30px; }
    div.upload .remove-file span, div.upload .remove-upload span {
      font-size: 9pt;
      font-weight: bold; }
  div.upload .remove-file {
    margin: -1px;
    margin-right: 10px;
    float: left; }
  div.upload label.control-label {
    font-size: 150%;
    display: block; }
  div.upload div.file-info {
    height: 28px;
    line-height: 28px; }
  div.upload div#upload_progress {
    margin: auto; }

div.kontakt .tel:before {
  content: "Telefon:";
  display: inline-block;
  margin-right: 0.5em; }
div.kontakt .e-mail:before {
  content: "E-Mail:";
  display: inline-block;
  margin-right: 0.5em; }

div.question-container {
  margin-bottom: 3em; }
  div.question-container div.question {
    background-color: #DCE2EA;
    padding: 1em 2em 1em 2em;
    margin-bottom: 1em; }

.panel .panel-heading {
  font-weight: bold; }
  .panel .panel-heading .heading-string {
    display: inline-block;
    margin-right: 0.7em; }
  .panel .panel-heading .remove-internship {
    margin-right: 1em; }

.panel.summary .panel-heading > a {
  margin-left: 0.7em; }

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
@media screen and (min-width: 480px) {
  .site-logo {
    width: 30%; }

  .header-text {
    clear: none;
    float: left;
    white-space: nowrap; } }
@media screen and (min-width: 720px) {
  .site {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 30px;
    position: relative; }

  .site-header {
    background-position: 0 0; }

  .site-logo {
    max-width: 50%;
    width: auto; }

  .sidebar {
    float: left;
    margin-right: -80%;
    max-width: 413px;
    position: relative;
    width: 20%; }

  .site-content {
    display: block;
    min-height: 500px;
    padding: 30px; }

  .content-area {
    padding: 20px; }

  body {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6; }

  blockquote {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.6667;
    margin-bottom: 1.6667em;
    padding-left: 1.1111em; }
    blockquote cite, blockquote small {
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.6; }

  pre {
    line-height: 1.2; }

  /*button, input, select, textarea {}
  button, input {
  	line-height: normal;
  }
  button {
  	font-size: 12px;
  	font-size: 1.2rem;
  	padding: 0.7917em 1.5833em;
  }
  input {
  	&[type="button"], &[type="reset"], &[type="submit"] {
  		font-size: 12px;
  		font-size: 1.2rem;
  		padding: 0.7917em 1.5833em;
  	}
  }
  input {
  	&[type="text"], &[type="email"], &[type="url"], &[type="password"], &[type="search"] {
  		padding: 0.375em;
  	}
  }
  textarea {
  	padding: 0.375em;
  }*/
  #breadcrumbs {
    margin-left: 20%;
    width: 80%;
    padding-left: 20px; }

  .site-footer {
    clear: both; }
    .site-footer aside {
      width: 25%;
      float: left;
      padding: 2% 1% 2%; }
    .site-footer div:nth-of-type(3) {
      clear: none; }

  .tech-navigation {
    background: white none repeat scroll 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .tech-navigation li.logout a {
      font-weight: bold;
      color: #D60000; }
    .tech-navigation li a {
      padding: 5px 10px; }
      .tech-navigation li a:hover, .tech-navigation li a:focus, .tech-navigation li a:active {
        background: #fff;
        color: #707070; }

  embed, iframe, object, video {
    margin-bottom: 1.6em; } }

/*# sourceMappingURL=style-rrze.css.map */
